<% include ../partials/header %>

    <h2>Job Details <%=job.jobTitle%></h2>
    <h3><%=matchRate.toFixed(2)%>% match</h3>
    <p>Location: <%=job.location%></p>
    <p><a href="<%=job.link%>" target="_blank" class="btn">Apply For Job</a></p>

    <ul class="job-categories">
      <% job.skills.forEach(function(skill){ %>
        <% if(user.skills.indexOf(skill._id)>=0) { %>
          <li class="hasSkill"><%=skill.name%></li>
        <% } else { %>
          <li><%=skill.name%> - <a href="/add-skill-from-job/<%=skill._id%>/<%=user._id%>/<%=job._id%>">+ Add Skill</a> - <a href="https://www.youtube.com/results?search_query=<%=skill.name%>+developer+in+5+minutes" class="" target="_blank">Learn Now</a></li>
        <% } %> 
      <% }) %>
    </ul>

    <p><%- job.description%></p>
   
    
    

<% include ../partials/footer %>